API_URL= #API URL for the frontend to make requests

# if you are using ngrok, set the NGROK_DOMAIN and NGROK_AUTH_TOKEN
NGROK_DOMAIN=
NGROK_AUTH_TOKEN=

PORT=
# if you are running the server locally or with the own domain, set the HOST
HOST=

SECRET_KEY= #API secret key - Your API Key to validate the requests

DATABASE_URL= #MongoDB connection URI

STRIPE_SECRET_KEY= #Stripe secret key for payment gateway

# Redis configuration for caching
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# nodemailer configuration for sending emails
#nodemailer
NODEMAILER_PASSWORD= #here is the google generated app password for nodemailer (search on google how to generate app password)
EMAIL= # your email

#twilio - for sending sms OTP
ACCOUNT_SID=
AUTH_TOKEN=
PHONE_NUMBER= # your registered twilio phone number
SERVICE_SID= #twilio service id


#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=